<ion-view cache-view="false">
  
        <div style="background-color: #d9d9d9;" class="bar bar-header">

<button class="button icon-left ion-chevron-left" ng-click="myGo()"></button>
 
        <h5 class="title"> <span style="text-align: center"> Salud </span> </h5>
<!-- {{id_usuario}}  -->
  <div class="buttons">
        <button class="button button-icon ion-more" ng-click="popover.show($event)">
        </button>
      </div>

   

        <script id="templates/popover.html" type="text/ng-template">
       <ion-popover-view class="fit">
        <ion-content>
          <div class="list">

             <a class="item" href="#/login" ng-click="closePopover()">
              <span class="ion-log-out"></span> Salir
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>
</div>

  

  <ion-content ng-init="ver_salud()">
           <div style="margin-top: 40px;">
         <img width="100" height="100" src="{{salud.post.thumbnail}}" alt=""> <br>
            
            {{salud.post.id}} <br>

           {{salud.post.title}} <br>

         <span>  {{salud.post.content | htmlToPlaintext }} </span> <br>

</div>
      

  </ion-content>


</ion-view>